@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;	
	}
body{
	font-family:"微软雅黑";
	font-size:12px;
	}
img{
	border:none;
	}
.dzhk1{
	background:url(images/hk1.jpg) center top no-repeat;
	height:200px;
	}
.dzhk2{
	background:url(images/hk2.jpg) center top no-repeat;
	height:200px;
	}
.dzhk3{
	background:url(images/hk3.jpg) center top no-repeat;
	height:200px;
	}
.dzhk4{
	background:url(images/hk4.jpg) center top no-repeat;
	height:268px;
	}
.dzhk5{
	background:url(images/hk5.jpg) center top no-repeat;
	height:91px;
	}
.wra{
	width:800px;
	margin:0 auto;
	position:relative;
	}
.login{
	background:url(images/login.png) center top no-repeat;
	width:172px;
	height:84px;
	position:absolute;
	top:28px;
	right:70px;
	}
a.wbdl{
	width:55px;
	height:55px;
	display:block;
	position:absolute;
	top:8px;
	right:16px;
	}

.after_login{
	background:url(images/dlhys.png) center top no-repeat;
	width:238px;
	height:84px;
	position:absolute;
	top:28px;
	right:5px;
	display:none;
	}
.tx{
	position:absolute;
	top:9px;
	left:14px;
	}
.user{
	position:absolute;
	top:15px;
	left:70px;
	}
.user h4{
	font-size:14px;
	color:#FFF;
	font-weight:bold;
	}
a.exit{
	width:38px;
	height:20px;
	display:block;
	position:absolute;
	top:40px;
	right:22px;
	}
.top50{
	padding-top:50px;
	}
.wz{
	 width:464px;
	 height:75px;
	 margin:0 auto;
	 overflow:hidden;
	 position:relative;
	 }
.wz textarea{
	background:url(images/wz_bg.jpg) center top no-repeat;
	width:454px;
	height:69px;
	border:0;
	overflow:hidden;
	padding:5px 5px 0px 5px;
	font-size:12px;
	line-height:2em;
	/*text-indent:2em;*/
	}
.wz span{
	display:block;
	width:15px;
	height:15px;
	font-size:0;
	background:#fff;	
	position:absolute;
	right:1px;
	bottom:2px;
	border-bottom:1px dashed #ccc;
	_border-bottom:none;
}
.sjr{
	width:120px;
	height:40px;
	position:absolute;
	top:35px;
	left:320px;
	}
.sjr a{
	width:35px;
	height:35px;
	display:inline-block;
	margin:3px 0px 0 4px;
	overflow:hidden;
	float:left;
	cursor:pointer;
	}

a.xzhy{
	position:absolute;
	top:25px;
	right:250px;
	width:100px;
	height:30px;
	display:block;
	}
.list{
	background:url(images/list.png) center top no-repeat;
	width:230px;
	height:230px;
	position:absolute;
	top:-150px;
	right:22px;
	display:none;
	}
a.close{
	width:30px;
	height:25px;
	display:block;
	position:absolute;
	top:2px;
	right:20px;
	}
.list input{
	margin:35px 0 0 17px;
	_margin:34px 0 0 17px;
	width:172px;
	border:none;
	*border:red;
	overflow:hidden;
	}
a.find{
	width:18px;
	height:18px;
	display:block;
	position:absolute;
	top:33px;
	right:22px;
	}
.friends{
	width:200px;
	height:135px;
	margin:5px 0 0 5px;
	overflow-y:auto;
	overflow-x:hidden;
	}
.friends ul{
	margin:7px 0 0 17px;
	}
.friends ul li{
	list-style:none;
	margin-top:5px;
	}
.friends ul li a{
	text-decoration:none;
	color:#333;
	width:100%;
	height:40px;
	display:block;
	}
.friends ul li a img{
	float:left;
	}
.friends ul li a span{
	float:left;
	display:inline;
	margin:10px 0 0 20px;
	}
.friends ul li a:hover{
	text-decoration:none;
	background:#CCC;
	}
a.send{
	width:70px;
	height:35px;
	display:block;
	position:absolute;
	top:90px;
	right:180px;
	}
.copyright{
	padding:30px 0 0 50px;
	}	
.copyright p{ 
	float:left;
	font-size:14px;
	font-family:"宋体";
	color:#221815;
	line-height:1.5em;
	 }
.bdfx{
	float:right;}

.bdfx span{
	float:left;
	color:#000000;
	font-weight:bold;
	line-height:2.5em;
	}